/*denne styrer hvilken skrifttype,farge og bakgrunnsfarge som blir brukt.
 samt hvor langt fra venstre kan skriften skal begynne.*/
body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: white;
  background-color: #0000FF;  }
  /*Er den boksen linkene p� venstre side ligger inni.
  viser st�rrelse og posisjon p� den.*/
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
  /*En div class p� seleksjonsboksen der jeg posisjonerer den til h�yre.*/
 .spr�k{
 text-align: right}
  /*skrifttype p� overskriften*/
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;}
   /*Hvordan det skal se ut inni boksene p� venstresiden. */
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
  /*Gj�r at linkene i listen til h�yre ikke har understrek.*/
ul.navbar a {
  text-decoration: none  }
  /*Gj�r at linken er bl�*/
a:link {
  color: blue }
  /*gj�r at n�r man har trykket p� linken en gang s� blir den lilla.*/
a:visited {
  color: purple }
  /*Bestemmer Hvordan adresseskriften nede til venstre skal se ut
  og har en stiplet linje som grenser oppover.*/
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
   /*bestemmer hvordan paragrafen st�r i forhold til toppen og
   en linje som grenser opp*/
